{% extends 'layout.html' %}

{% block content %}
    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="income_vs_expense"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="netflow"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <div class="card card-style mb-2 mx-auto" >
            <div class="card-body">
                <form action="" method="POST">
                    {{ selectionform.csrf_token() }}
                    {% if selectionform.errors %}
                        <div class="alert alert-danger" role="alert">
                            <p>
                                The selected period is invalid.
                                Reports are showing the current month and year.
                            </p>

                            <ul class="mb-0">
                                {% for field_name, errors in selectionform.errors.items() %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <fieldset class="form-group">
                        <h5>Current selected period: {{current_period}}</h5>
                        <legend class="mb-4">Select a Period</legend>
                        <div class="form-group" style="max-width: 400px; display: inline-block;">
                            {{ selectionform.selected_year.label(class="form-control-label") }}
                            {{ selectionform.selected_year(class="form-control form-control-sm") }}
                        </div>
                        <br>
                        <div class="form-group" style="max-width: 400px; display: inline-block;">
                            {{ selectionform.selected_month.label(class="form-control-label") }}
                            {{ selectionform.selected_month(class="form-control form-control-sm") }}
                        </div>
                        <br><br>
                        <div class="form-group border-bottom pb-3">
                            {{ selectionform.submit(class="btn btn-outline-info") }}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="expense_year_pie"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="expenses_year_vs_category"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="expense_pie"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="expenses_vs_category"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="income_year_pie"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="incomes_year_vs_category"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="income_pie"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="incomes_vs_category"></canvas>
                </div>
            </div>
        </div>
    </div>
{% block javascript %}
<script id="dashboard-data" type="application/json">
    {{ {
        "income_month": income_month,
        "expense_month": expense_month,
        "netflow_month": netflow_month,
        "labels": dates_label,
        "category_expenses_values": cat_exp_amount,
        "category_expenses_labels": cat_exp_label,
        "category_expenses_year_values": cat_exp_amount_year,
        "category_expenses_year_labels": cat_exp_label_year,
        "category_incomes_values": cat_inc_amount,
        "category_incomes_labels": cat_inc_label,
        "category_incomes_year_values": cat_inc_amount_year,
        "category_incomes_year_labels": cat_inc_label_year
    } | tojson }}
</script>

<script
    src="{{ url_for('static', filename='js/dashboard.js') }}"
    defer
></script>
{% endblock %}

{% endblock %}